@font-face {
  font-family: 'SchoolBook';
  src: url('/public/fonts/SchoolBookCyrillic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura New';
  src: url('/public/fonts/FuturaNewBold-Reg.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
